@tailwind base;
@tailwind components;
@tailwind utilities;

.black-overlay {
  background: rgb(0, 0, 0, 0.5);
}

.black-gradient {
  background: linear-gradient(#00000000, #000000f5);
}

.container {
  min-height: calc(100vh - 80px);
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
